
@import url('https://fonts.googleapis.com/css?family=Averia+Libre|Fjalla+One|Raleway|Rubik&display=swap');

.App {
  text-align: center;
}

li {
  list-style: none;
}

img {
  width: 200px;
}

h1 {
  font-family: 'Rubik', sans-serif;
  text-shadow: 2px 3px 3px rgba(0,0,0,0.2);

}

a {
  font-family: 'Averia Libre', cursive;
  font-weight: 700;
  text-decoration: none;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

footer {
  height: 50px;
  background: linear-gradient(#32A4A7, #008693);
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

}
header {
  background: linear-gradient(#32A4A7, #008693);
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}
body {
  background-image: linear-gradient(#3bbeca, #27AEBB);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.loginForm {
  max-width: 500px;
	padding: 10px 20px;
  background: rgb(235, 104, 124);
  opacity: 0.9;
	margin: 10px auto;
	border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: 5px 5px 10px rgb(87, 86, 86);
}

.loginForm input[type="email"],
.loginForm input[type="text"],
.loginForm input[type="password"] {
  font-family: 'Raleway', sans-serif;
	background: rgba(255, 255, 255, 0.425);
	border: none;
	border-radius: 4px;
	font-size: 15px;
  margin: 12px auto;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #f7f7f7;
	color:#505558;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}

.loginForm input[type="email"]:focus,
.loginForm input[type="text"]:focus,
.loginForm input[type="password"]:focus {
  background: rgb(223, 174, 181);
}

.loginForm label {
  font-family: 'Raleway', sans-serif;
}

.loginForm input[type="submit"] {
  position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #32A4A7;
	font-size: 18px;
	text-align: center;
  font-style: normal;
  font-weight: 500;
	width: 100%;
	border: 1px solid rgb(39, 129, 133);
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}

.loginForm input[type="submit"]:hover {
	border: 1px solid rgb(25, 80, 83);
	background: rgb(37, 124, 128);
}

.LoginLinks a {
  box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.2);
}
 
.LoginLinks a:hover {
  color: #730017;
}

.addMessageForm {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  height: 150px;
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  font-size: 1.5em;
  border-radius: 0.75em;
  background-color: #d3c5c5;
  line-height: 1.4em;
  font-family: 'Rubik', sans-serif;
}
.addMessageForm label{
  font-size: 18px;
  color: #909192;
}
.addMessageForm input {
  background: #e6e6e7;
  border: none;
  /* position: relative;
  bottom: 10px; */
  padding: 5px ;
  margin: 10px;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
	color: #ebebebd5;
}

.addMessageForm input:hover { 
  background-color: #b5b7ba;
  color: white;
}

.addMessageForm button {
  background: #71f0e7;
  border: none;
  position: relative;
  bottom: 10px;
  padding: 10px 20px 10px 20px;
  margin: 10px;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
	color: #444343d5;
}
.addMessageForm button:hover { 
  background-color: #57bab3;
  color: white;
}


